<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" />
    <!-- See https://stackoverflow.com/a/56808180 for more info, the Google Play required update to
         Android SDK 29 may have broken the debug release because it's a non-SSL connection back to
         Metro Bundler on the host box.  -->
</manifest>